{% extends 'chat/base/base.html' %}
{% load static %}

{% block head_extensions %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}

{% block content %}
<div class="col-12">
    {% if request.user.is_staff %}
    <form name="search-form">
        <div id="search-inputs" class="row d-flex align-items-end p-3">
            <div class="col">
                <label for="chat-owner-search">Chat Owner</label>
                <input type="text" id="chat-owner-search" name="owner" class="form-control border border-4">
            </div>
            <div class="col">
                <label for="banned-user-search">User</label>
                <input type="text" id="banned-user-search" name="user" class="form-control border border-4">
            </div>
            <div class="col"><input type="submit" value="Search" id="search-button" class="btn btn-lg btn-outline-secondary"></div>
        </div>
    </form>
    {% elif request.user.moderating_user_chats.exists %}
    <select name="chat_owner_select" id="chat-owner-select" class="form-select w-50 mt-5 mx-5 border border-4">
        <option value="{{ request.user.username }}">Banned in My Chat</option>
        {% for chat_owner in request.user.moderating_user_chats.all %}
        <option value="{{ chat_owner.username }}">{{ chat_owner.username }}'s chat</option>
        {% endfor %}
    </select>
    {% endif %}
    {% if request.user.is_staff or request.user.moderating_user_chats.exists or bans %}
    <div class="p-5">
        <table class="table table-warning table-bordered text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col">User</th>
                    <th scope="col">Remaining</th>
                    <th scope="col">Duration</th>
                    <th scope="col">End date</th>
                    <th scope="col">Ban date</th>
                    <th scope="col">Banned by</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody  id="bans-table-body">
                {% for ban in bans %}
                <tr{% if not ban.time_end %} class="table-danger"{% endif %}>
                    <th scope="row">{{ ban.banned_user.username }}</th>
                    <td>{{ ban.time_end|timeuntil }}</td>
                    <td>{{ ban.time_end|timeuntil:ban.time_start }}</td>
                    <td>{% if ban.time_end %}{{ ban.time_end }}{% else %}Indefinite{% endif %}</td>
                    <td>{{ ban.time_start }}</td>
                    <td>{{ ban.banned_by.username }}</td>
                    <td><button type="button" class="btn btn-sm btn-info btn-unban" data-banned-username="{{ ban.banned_user.username }}">Unban</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-12 col-lg-9 col-xxl-6">
        <p class="m-5 text-center h3 text-secondary">{{ empty_phrase }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block additional_java_script %}
{% csrf_token %}
{% url 'chat:ajax-unban-user' as unban_url %}{{ unban_url|json_script:"unban-url" }}
{% url 'chat:ajax-banned-list' as banned_moder_list %}{{ banned_moder_list|json_script:"banned-moder-data-list-url" }}
{{ request.user.username|json_script:"username" }}
<script src="{% static 'JS/manage_ban_list.js' %}"></script>
{% endblock %}