{% extends 'chat/base/base.html' %}
{% load static %}

{% block head_extensions %}
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}

{% block content %}
<div class="col-12">
    {% if request.user.is_staff %}
    <form name="searchForm">
        <div id="search-inputs" class="row d-flex align-items-end p-3">
            <div class="col-12 col-md-4 p-2">
                <label for="chat-owner-search">Chat Owner</label>
                <input type="text" id="chat-owner-search" name="owner" class="form-control border border-4">
            </div>
            <div class="col-12 col-md-4 p-2">
                <label for="banned-user-search">User</label>
                <input type="text" id="banned-user-search" name="user" class="form-control border border-4">
            </div>
            <div class="col-6 col-md-2 p-2 text-center">
                <input type="checkbox" id="all-bans-checkbox-search" name="all_bans" class="form-check-input border border-4" style="width: 25px; height: 25px;">
                <label for="all-bans-checkbox-search" class="form-check-label">All Bans</label>
            </div>
            <div class="col-6 col-md-2 p-2"><input type="submit" value="Search" id="search-button" class="btn btn-lg btn-outline-secondary"></div>
        </div>
    </form>
    {% elif request.user.moderating_user_chats.exists %}
    <select name="chat_owner_select" id="chat-owner-select" class="form-select w-50 mt-5 mx-5 border border-4">
        <option value="{{ request.user.username }}">My Chat</option>
        {% for chat_owner in request.user.moderating_user_chats.all %}
        <option value="{{ chat_owner.username }}">{{ chat_owner.username }}'s chat</option>
        {% endfor %}
    </select>
    {% endif %}
    {% if request.user.is_staff or request.user.moderating_user_chats.exists or bans %}
    <div class="p-5">
        <table class="table table-warning table-bordered text-center" id="bans-table">
            <thead id="bans-table-head">
                <tr class="table-dark">
                    <th scope="col">User</th>
                    {% if request.user.is_staff %}
                    <th scope="col">Chat Owner</th>
                    {% endif %}
                    <th scope="col">Remaining</th>
                    <th scope="col">Duration</th>
                    <th scope="col">End date</th>
                    <th scope="col">Ban date</th>
                    <th scope="col">Banned by</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody  id="bans-table-body">
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="col-12 col-lg-9 col-xxl-6">
        <p class="m-5 text-center h3 text-secondary">{{ empty_phrase }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block additional_java_script %}
{% csrf_token %}
{% url 'chat:ajax-unban-user' as unban_url %}{{ unban_url|json_script:"unban-url" }}
{% url 'chat:ajax-banned-list' as banned_moder_list_url %}{{ banned_moder_list_url|json_script:"banned-moder-data-list-url" }}
{{ request.user.username|json_script:"username" }}
{% if request.user.is_staff %}{% url 'chat:ajax-search-admin-banned-list' as banned_admin_list_url %}{{ banned_admin_list_url|json_script:"banned-admin-data-list-url" }}{% endif %}
<script src="{% static 'JS/manage_ban_list.js' %}"></script>
{% if request.user.is_staff %}<script src="{% static 'JS/admin_ban_list.js' %}"></script>{% endif %}
{% endblock %}