{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column col-12 col-lg-9 col-xxl-6">
    {% if user_list %}
    <div class="p-5">
        {% for user in user_list %}
        <div class="row my-3 py-1 bg-secondary-subtle{% if not forloop.last %} border-bottom{% endif %}">
            <div class="col-6">{{ user.username }}</div>
            <div class="col-6"><button type="button" class="btn btn-sm action-btn {{ bootstrap_btn_color }}" data-user-username="{{ user.username }}">{{ button_label }}</button></div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="m-5 text-center h3 text-secondary">{{ empty_phrase }}</p>
    {% endif %}
</div>
{% endblock %}

{% block additional_java_script %}
{% csrf_token %}
<script src="{% static 'chat/JS/manage_user_list.js' %}"></script>
{% endblock %}