.message-author {
    border-radius: 3px;
}

.message-author:hover {
    background: #909090;
    transition: .1s;
    cursor: default;
}

#chat-user-dropdown-menu {
    position: fixed;
    z-index: 9999;
    width: 160px;
    background: #535353;
    border-radius: 3px;
    cursor: default;
}

#chat-user-dropdown-menu .menu-item {
    padding: 4px 5px;
    font-size: 14px;
    color: #eee;
}

#chat-user-dropdown-menu .menu-item:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

#chat-user-dropdown-menu .menu-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

#chat-user-dropdown-menu .menu-item:hover {
    background: #747474;
    transition: .1s;
}

.private-message-to-me {
    background: #a9a9a9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 35px;
}

.private-message-from-me {
    background: #a9a9a9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 35px;
}