.message-author {
    border-radius: 3px;
}

.message-author:hover {
    background: #909090;
    transition: .1s;
    cursor: default;
}

#chat-user-dropdown-menu, #ban-menu {
    position: fixed;
    z-index: 9999;
    width: 160px;
    border-radius: 3px;
    cursor: default;
}

#chat-user-dropdown-menu {
    background: #535353;
}

#ban-menu {
    background: #a7a7a7;
}

#chat-user-dropdown-menu .menu-item {
    padding: 4px 5px;
    font-size: 14px;
    color: #eee;
}

#chat-user-dropdown-menu .menu-item:first-child {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

#chat-user-dropdown-menu .menu-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

#chat-user-dropdown-menu .menu-item:hover {
    background: #747474;
    transition: .1s;
}

#ban-term {
    width: 35%;
    margin: 6px 8px;
    display: inline-block;
    font-size: 14px;
}

#ban-term-type {
    width: 50%;
    margin: 6px 8px 6px 0;
    display: inline-block;
    font-size: 14px;
}

.private-message-to-me, .private-message-from-me {
    background: #c0c0c0;
}

.private-message-to-me {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 35px;
}

.private-message-from-me {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 35px;
}

.ban-menu-checkbox {
    margin: 5px 10px;
    width: 16px;
    height: 16px;
}